black==25.9.0
cfgv==3.4.0
click==8.3.0
distlib==0.4.0
filelock==3.19.1
identify==2.6.14
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
platformdirs==4.4.0
pre_commit==4.3.0
PyBluez @ git+https://github.com/pybluez/pybluez.git@82cbba8a1ebd4c1e3442dfafd8581d58c50fa39e
pyqtgraph==0.13.7
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
python-dateutil==2.9.0.post0
pytokens==0.1.10
pytz==2025.2
PyYAML==6.0.2
ruff==0.13.1
scipy==1.16.2
shiboken6==6.9.2
six==1.17.0
tzdata==2025.2
virtualenv==20.34.0
